<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon>movie</mat-icon>
    <span class="ml-4">Film</span>
    <span class="flex-1"></span>
    <button
      routerLink="/films/history"
      matTooltip="Storico dei film"
      mat-icon-button>
      <mat-icon>history</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="p-4">
  <app-filter-films (filterChange)="filterFilms($event)"></app-filter-films>

  <app-loading-cards
    [numCards]="2"
    [numLines]="2"
    [error]="error()"
    [loading]="loading()">
    <div class="grid-films">
      @for (film of films(); track filmTrackBy) {
        <app-film-card [film]="film"></app-film-card>
      } @empty {
        <p class="text-center text-xl text-gray-500">
          Non ci sono film in proiezione
        </p>
      }
    </div>
  </app-loading-cards>
</div>
